@font-face {
   font-family: "Open Sans";
   src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
   font-family: "Neucha";
   src: url(fonts/Neucha-Regular.ttf);
}
* {
   font-family: "Open Sans";
   font-size: 16px;
   line-height: 1.6em;
   color: #2A2626;
}
:root {
   --white: #fff;
   --half-white: #d7ccc0;
   --light: #f5f4f0;
   --basic: #fe8a02;
   --basic-dark: #42413c;
   --dark: #2a2626;
   --half-dark: #908d8b;
   --brown: #b09a81;
   --blue: #1085c5;
}
h1,h2,h3,h4,h5,h6 {
   font-family: "Neucha";
   color: #2A2626;
   line-height: 1.2em;
}
h1 {
   font-size: 72px;
   position: relative;
   z-index: 2;
}
h2 {
   font-size: 60px;
}
h3 {
   font-size: 34px;;
}
.content {
   max-width: 1110px;
   margin: 0 auto;
}
.section {
   margin: 0 auto;
   padding-top: 100px;
   padding-bottom: 100px;
}
.section-header {

}
.section-background::before {
   content: "";
   position: absolute;
   background-image: url(background.png);
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.1;
   width: 100%;
   height: 100%;
}
header div img {
   height: 525px;
   position: absolute;
   top: 55px;
   right: -270px;
}
.text {
   position: relative;
   margin-top: 185px;
   columns: auto 2;
   column-gap: 30px;
   z-index: 2;
}
.btn {
   display: block;
   padding: 24px 12px;
   font-weight: bold;
}